@import "./../../styles.scss";

h2 {
  color: $color-turquoise;
  font-size: 82px;
  margin: 0;
}

h3 {
  color: $color-turquoise;
  font-size: 54px;
  margin: 0;
}

.above-the-fold {
  // background-color: aqua;
  height: 100vh;
  width: 1920px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-me-btn {
  background-color: transparent;
  border: 1px solid $color-turquoise;
  padding: 10px 20px;
  color: $color-orange;
  font-size: 16px;
  width: 164px;
  height: 50px;
  // position: relative;
  // top: 0;
  // left: 80px;
  margin-left: 27px;
  margin-top: 20vh;
  rotate: 270deg;
}

.name-container {
  // position: relative;
  // top: 500px;
  // left: 20px;
  padding-left: 80px;
}

.hero-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 1920px;
  margin: 0 auto;
  margin-top: 60px;
  flex-direction: column;
  height: 100vh;
}

@media (max-width: 1920px) {
  .above-the-fold {
    width: 100vw;
  }

  .hero-container {
    width: 100vw;
  }
}
