<header>
    <div class="wrap">
        <div class="main-header-container">

            <div class="header-left">
                <h2 class="font-handjet">&lt;KM&gt;</h2>
                <a class="font-robotomono no-wrap" href="">Why me</a>
                <a class="font-robotomono" href="">Skills</a>
                <a class="font-robotomono" href="">Projects</a>
                <a class="font-robotomono" href="">Contacts</a>
            </div>
            <div class="btn-container">
                <button class="no-wrap">DE</button>
                <p>|</p>
                <button class="no-wrap">EN</button>
            </div>
        </div>

    </div>
</header>