@font-face {
  font-family: "handjet";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./../public/assets/fonts/Handjet,Roboto_Mono/Handjet/Handjet-VariableFont_ELGR,ELSH,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "robotoMono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./../public/assets/fonts/Handjet,Roboto_Mono/Roboto_Mono/RobotoMono-VariableFont_wght.ttf")
    format("truetype");
}

$color-orange: #e15544;
$color-turquoise: #02f4bf;

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  max-width: 1440px;
  width: 1440px;
  margin: 0 auto;
  background: linear-gradient(
    174.25deg,
    #0b042d 24.9%,
    #1f0b80 39.2%,
    #0b042f 72.02%,
    #241085 106.54%
  );
}

.font-handjet {
  font-family: "handjet", sans-serif;
}

.font-robotomono {
  font-family: "robotoMono", sans-serif;
}
